<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>University Registrar</title>
</head>
<body>
    <div class='container'>
        <h1>University Registrar</h1>
    </div>
</body>
</html>
